# Assignment 01

# Given credit_card_default dataset

# â€¢ Do the pre-processing on dataset

In [1]:
#import libraries
import pandas as pd

In [2]:
import numpy as np

In [3]:
#read data set
data = pd.read_csv("credit_card_default.csv")

In [4]:
data

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [5]:
#columns in data 
data.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [6]:
#rename upper case heading to lower case
data = data.rename(columns = lambda x: x.lower())

In [7]:
data.columns

Index(['id', 'limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_1',
       'pay_2', 'pay_3', 'pay_4', 'pay_5', 'pay_6', 'bill_amt1', 'bill_amt2',
       'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1',
       'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6',
       'default payment next month'],
      dtype='object')

In [8]:
#rename default payment next month column to default
data = data.rename(columns = {"default payment next month":"default"})

In [9]:
data.columns

Index(['id', 'limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_1',
       'pay_2', 'pay_3', 'pay_4', 'pay_5', 'pay_6', 'bill_amt1', 'bill_amt2',
       'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1',
       'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6', 'default'],
      dtype='object')

In [10]:
#info of data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         30000 non-null  int64
 1   limit_bal  30000 non-null  int64
 2   sex        30000 non-null  int64
 3   education  30000 non-null  int64
 4   marriage   30000 non-null  int64
 5   age        30000 non-null  int64
 6   pay_1      30000 non-null  int64
 7   pay_2      30000 non-null  int64
 8   pay_3      30000 non-null  int64
 9   pay_4      30000 non-null  int64
 10  pay_5      30000 non-null  int64
 11  pay_6      30000 non-null  int64
 12  bill_amt1  30000 non-null  int64
 13  bill_amt2  30000 non-null  int64
 14  bill_amt3  30000 non-null  int64
 15  bill_amt4  30000 non-null  int64
 16  bill_amt5  30000 non-null  int64
 17  bill_amt6  30000 non-null  int64
 18  pay_amt1   30000 non-null  int64
 19  pay_amt2   30000 non-null  int64
 20  pay_amt3   30000 non-null  int64
 21  pay_amt4   30000 non-null  int64
 22  pay_amt5   30000 non-null  int64
 23  pay_amt6   30000 non-null  int64
 24  default    30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [11]:
#no null values are present in data

In [12]:
#value counts 
data['sex'].value_counts()

2    18112
1    11888
Name: sex, dtype: int64

In [13]:
data['education'].value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: education, dtype: int64

In [14]:
data['marriage'].value_counts()

2    15964
1    13713
3      323
Name: marriage, dtype: int64

In [15]:
#create a new clumn male with sex value =1
data["male"] = (data['sex'] == 1).astype(int)

In [16]:
data

,id,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,...,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,male
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,689,0,0,0,0,1,0
1,2,120000,2,2,2,26,-1,2,0,0,...,3455,3261,0,1000,1000,1000,0,2000,1,0
2,3,90000,2,2,2,34,0,0,0,0,...,14948,15549,1518,1500,1000,1000,1000,5000,0,0
3,4,50000,2,2,1,37,0,0,0,0,...,28959,29547,2000,2019,1200,1100,1069,1000,0,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,19146,19131,2000,36681,10000,9000,689,679,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,31237,15980,8500,20000,5003,3047,5000,1000,0,1
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,5190,0,1837,3526,8998,129,0,0,0,1
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20582,19357,0,0,22000,4200,2000,3100,1,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,11855,48944,85900,3409,1178,1926,52964,1804,1,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,32428,15313,2078,1800,1430,1000,1000,1000,1,1

In [17]:
#create new column grad school from education
data['grad_school'] = (data['education']==1).astype(int)

In [18]:
data

,id,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,...,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,male,grad_school
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,689,0,0,0,0,1,0,0
1,2,120000,2,2,2,26,-1,2,0,0,...,3261,0,1000,1000,1000,0,2000,1,0,0
2,3,90000,2,2,2,34,0,0,0,0,...,15549,1518,1500,1000,1000,1000,5000,0,0,0
3,4,50000,2,2,1,37,0,0,0,0,...,29547,2000,2019,1200,1100,1069,1000,0,0,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,19131,2000,36681,10000,9000,689,679,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,15980,8500,20000,5003,3047,5000,1000,0,1,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,0,1837,3526,8998,129,0,0,0,1,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,19357,0,0,22000,4200,2000,3100,1,1,0
29998,29999,80000,1,3,1,41,1,-1,0,0,...,48944,85900,3409,1178,1926,52964,1804,1,1,0
29999,30000,50000,1,2,1,46,0,0,0,0,...,15313,2078,1800,1430,1000,1000,1000,1,1,0

In [19]:

#create new column university from education
data["university"] = (data['education']==2).astype(int)

In [20]:
data

,id,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,...,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,male,grad_school,university
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,689,0,0,0,0,1,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,0,1000,1000,1000,0,2000,1,0,0,1
2,3,90000,2,2,2,34,0,0,0,0,...,1518,1500,1000,1000,1000,5000,0,0,0,1
3,4,50000,2,2,1,37,0,0,0,0,...,2000,2019,1200,1100,1069,1000,0,0,0,1
4,5,50000,1,2,1,57,-1,0,-1,0,...,2000,36681,10000,9000,689,679,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,8500,20000,5003,3047,5000,1000,0,1,0,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,1837,3526,8998,129,0,0,0,1,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,0,0,22000,4200,2000,3100,1,1,0,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,85900,3409,1178,1926,52964,1804,1,1,0,0
29999,30000,50000,1,2,1,46,0,0,0,0,...,2078,1800,1430,1000,1000,1000,1,1,0,1

In [21]:
#create new column married from marriage
data["married"] = (data['marriage']==1).astype(int)

In [22]:
data

,id,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,...,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,male,grad_school,university,married
0,1,20000,2,2,1,24,2,2,-1,-1,...,689,0,0,0,0,1,0,0,1,1
1,2,120000,2,2,2,26,-1,2,0,0,...,1000,1000,1000,0,2000,1,0,0,1,0
2,3,90000,2,2,2,34,0,0,0,0,...,1500,1000,1000,1000,5000,0,0,0,1,0
3,4,50000,2,2,1,37,0,0,0,0,...,2019,1200,1100,1069,1000,0,0,0,1,1
4,5,50000,1,2,1,57,-1,0,-1,0,...,36681,10000,9000,689,679,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,20000,5003,3047,5000,1000,0,1,0,0,1
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,3526,8998,129,0,0,0,1,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,0,22000,4200,2000,3100,1,1,0,1,0
29998,29999,80000,1,3,1,41,1,-1,0,0,...,3409,1178,1926,52964,1804,1,1,0,0,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,1800,1430,1000,1000,1000,1,1,0,1,1

In [23]:
# pd.get_dummies(data['education'].astype("category"))

In [24]:
data.columns

Index(['id', 'limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_1',
       'pay_2', 'pay_3', 'pay_4', 'pay_5', 'pay_6', 'bill_amt1', 'bill_amt2',
       'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1',
       'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6', 'default',
       'male', 'grad_school', 'university', 'married'],
      dtype='object')

In [25]:
# data[['male',"grad_school","university","married"]]

In [26]:
#store bill_amt features and pay_amt_features to new variablles
bill_amt_features = ["bill_amt" + str(i) for i in range(1,7)]
pay_amt_features = ["pay_amt" + str(i) for i in range(1,7)]

In [27]:
 pay_amt_features

['pay_amt1', 'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6']

In [28]:
data

,id,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,...,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,male,grad_school,university,married
0,1,20000,2,2,1,24,2,2,-1,-1,...,689,0,0,0,0,1,0,0,1,1
1,2,120000,2,2,2,26,-1,2,0,0,...,1000,1000,1000,0,2000,1,0,0,1,0
2,3,90000,2,2,2,34,0,0,0,0,...,1500,1000,1000,1000,5000,0,0,0,1,0
3,4,50000,2,2,1,37,0,0,0,0,...,2019,1200,1100,1069,1000,0,0,0,1,1
4,5,50000,1,2,1,57,-1,0,-1,0,...,36681,10000,9000,689,679,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,20000,5003,3047,5000,1000,0,1,0,0,1
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,3526,8998,129,0,0,0,1,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,0,22000,4200,2000,3100,1,1,0,1,0
29998,29999,80000,1,3,1,41,1,-1,0,0,...,3409,1178,1926,52964,1804,1,1,0,0,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,1800,1430,1000,1000,1000,1,1,0,1,1

In [29]:
#store binary features to new variable
binary_features = ['male', 'grad_school', 'university', 'married']

In [30]:

pay_features = ["pay_" + str(i) for i in range(1,7)]

In [31]:
pay_features

['pay_1', 'pay_2', 'pay_3', 'pay_4', 'pay_5', 'pay_6']

In [32]:
 num_features = ["limit_bal", "age"] + bill_amt_features + pay_amt_features + pay_features

In [33]:
#target is default

In [34]:
x = data[num_features + binary_features]

In [35]:
y = data['default']

In [36]:
#train test split
from sklearn.model_selection import train_test_split

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2,  random_state = 134)

In [38]:
# x_train

In [39]:
#scaling certain features
sc_features = ["limit_bal", "age"] + bill_amt_features + pay_amt_features

In [40]:
from sklearn.preprocessing import StandardScaler

In [41]:
sc = StandardScaler()

In [42]:
x_train.loc[:,sc_features] = sc.fit_transform(x_train[sc_features])

In [43]:
x_test.loc[:,sc_features] = sc.fit_transform(x_test[sc_features])

# â€¢ Perform different algorithms such as kNN,SVM, Gradient Boosting, Ada boosting and XG Boost

In [44]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score,recall_score,f1_score

# kNN

In [45]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train,y_train)
pred=knn.predict(x_test)

C:\Users\user\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [46]:
print('f1 score : ',f1_score(y_test,pred))

f1 score :  0.4323557237464522

In [47]:

print('accuracy : ', accuracy_score(y_test,pred))

accuracy :  0.8

In [48]:
print('precision score : ', precision_score(y_test,pred))

precision score :  0.5814249363867684

In [49]:
print('recall score : ',recall_score(y_test,pred))

recall score :  0.3441265060240964

# SVM(Kernel='Linear')Model

In [50]:
from sklearn.svm import SVC
svm_clf=SVC(kernel='linear')
svm_clf=svm_clf.fit(x_train,y_train)
y_pred_svm=svm_clf.predict(x_test)

In [51]:
print('Accuracy score is :',accuracy_score(y_test,y_pred_svm))

Accuracy score is : 0.8078333333333333

In [52]:
print('precision score : ', precision_score(y_test,y_pred_svm))

precision score :  0.6984126984126984

In [53]:
print('f1 score : ',f1_score(y_test,y_pred_svm))

f1 score :  0.34821933295647256

In [54]:
print('recall score : ',recall_score(y_test,y_pred_svm))

recall score :  0.2319277108433735

# SVM(Kernel='rbf')Model

In [55]:
svm_clf2=SVC(kernel='rbf')
svm_clf2=svm_clf2.fit(x_train,y_train)
y_pred_svm2=svm_clf2.predict(x_test)

In [56]:
print('Accuracy score is :',accuracy_score(y_test,y_pred_svm2))

Accuracy score is : 0.8168333333333333

In [57]:
print('precision score : ', precision_score(y_test,y_pred_svm2))

precision score :  0.6701337295690936

In [58]:
print('recall score : ',recall_score(y_test,y_pred_svm2))

recall score :  0.33960843373493976

In [59]:
print('f1 score : ',f1_score(y_test,y_pred_svm2))

f1 score :  0.45077461269365315

# Gradient Boosting

In [60]:
from sklearn.ensemble import GradientBoostingClassifier

In [61]:
grad_boost_model=GradientBoostingClassifier().fit(x_train,y_train)
y_pred_grad=grad_boost_model.predict(x_test)

In [62]:
print('Accuracy score is :',accuracy_score(y_test,y_pred_grad))

Accuracy score is : 0.8163333333333334

In [63]:
print('precision score : ', precision_score(y_test,y_pred_grad))

precision score :  0.6569444444444444

In [64]:
print('recall score : ',recall_score(y_test,y_pred_grad))

recall score :  0.3561746987951807

In [65]:
print('f1 score : ',f1_score(y_test,y_pred_grad))

f1 score :  0.4619140625

# Ada boost

In [66]:
from sklearn.ensemble import AdaBoostClassifier

In [67]:
adaboost_model = AdaBoostClassifier()
adaboost_model.fit(x_train, y_train)

AdaBoostClassifier()

In [68]:
y_pred_ada=adaboost_model.predict(x_test)

In [69]:
print('Accuracy score is :',accuracy_score(y_test,y_pred_ada))

Accuracy score is : 0.8151666666666667

In [70]:
print('precision score : ', precision_score(y_test,y_pred_ada))

precision score :  0.6666666666666666

In [71]:
print('recall score : ',recall_score(y_test,y_pred_ada))

recall score :  0.32981927710843373

In [72]:
print('f1 score : ',f1_score(y_test,y_pred_ada))

f1 score :  0.44130982367758187

# XG BOOST

In [73]:
import xgboost as xgb

xgb_cl = xgb.XGBClassifier()

In [74]:
xgb_cl.fit(x_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [75]:
preds = xgb_cl.predict(x_test)

In [76]:
preds

array([0, 0, 0, ..., 0, 0, 0])

In [77]:
print('Accuracy score is :',accuracy_score(y_test,preds))

Accuracy score is : 0.8063333333333333

In [78]:
print('precision score : ', precision_score(y_test,preds))

precision score :  0.6127717391304348

In [79]:
print('recall score : ',recall_score(y_test,preds))

recall score :  0.33960843373493976

In [80]:
print('f1 score : ',f1_score(y_test,preds))

f1 score :  0.437015503875969

# gradient boosting algorithm has better accuracy and f1 score compared to other algoriths

# Also perform hyperparameter tuning

In [81]:
# Fine Tuning  Model
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV

In [82]:
parameters={'n_estimators':[50,100,150,250],'max_depth':[3,6,9,None]}

In [83]:
# Hyperparameter Tuning-RandomizedSearchCV
random_model=RandomizedSearchCV(GradientBoostingClassifier(),parameters,scoring='f1')
random_model.fit(x_train,y_train)
print(random_model.best_params_)

{'n_estimators': 100, 'max_depth': 3}

In [85]:
model_random=GradientBoostingClassifier(n_estimators=100,max_depth=3)
model2=model_random.fit(x_train,y_train)
y_pred_gradt=model2.predict(x_test)

In [86]:
print('Accuracy score is :',accuracy_score(y_test,y_pred_gradt))

Accuracy score is : 0.816

In [87]:
print('precision score : ', precision_score(y_test,y_pred_gradt))

precision score :  0.6564245810055865

In [88]:
print('recall score : ',recall_score(y_test,y_pred_gradt))

recall score :  0.3539156626506024

In [89]:
print('f1 score : ',f1_score(y_test,y_pred_gradt))

f1 score :  0.4598825831702544

In [90]:
# Hyperparameter Tuning-GridSearchCV
grid_model=GridSearchCV(GradientBoostingClassifier(),parameters,scoring='f1')
grid_model.fit(x_train,y_train)
print(grid_model.best_params_)

{'max_depth': 3, 'n_estimators': 100}

In [91]:
model_grid=GradientBoostingClassifier(n_estimators=100,max_depth=3)
model1=model_grid.fit(x_train,y_train)
y_pred_grid=model1.predict(x_test)

In [92]:
print('Accuracy score is :',accuracy_score(y_test,y_pred_grid))

Accuracy score is : 0.816

In [93]:
print('precision score : ', precision_score(y_test,y_pred_grid))

precision score :  0.6551246537396122

In [94]:
print('recall score : ',recall_score(y_test,y_pred_grid))

recall score :  0.3561746987951807

In [95]:
print('f1 score : ',f1_score(y_test,y_pred_grid))

f1 score :  0.46146341463414636